@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto Condensed",Arial,sans-serif;
   
   
}
html{
    font-size: 10px;
}
body{overflow-x: hidden;}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 85%;
    margin: auto;
    font-family: montserrat , sans-serif;
    font-weight: bolder;
    
}

.header ul {
    display: flex;
    float: right;
}

.navbar ul li {
   padding: 2.5rem;
   font-size: 2rem;
   color: #181818;
   margin-left:2.5rem ;
   font-weight: 300;
   
   
}

.logo img{
    width: 12rem;
}
.social-media i {
    color:#86abcc;
    margin-left: 1rem;
    
    
}
.header a { 
    text-decoration: none;
}
.navbar ul li a {
    display: block;
    color: #181818;
}
.navbar ul li a:hover{
    color: #86abcc;
    transition: 0.2s ease-in-out;
}
.social-media li i:hover{
    color: #181818;
    transition: 0.5s ease-in-out;
}

/* Slideshow container */
.slideshow-container {
   width: 100%;
    position: relative;
    margin: auto;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 1.5rem;
    padding: 0.8rem 1.1rem;
    position: absolute;
    bottom: 0.8rem;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1.2rem;
    padding: 0.8rem 1.1rem;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#about{
    position: relative;
    background-color: #2a4544;
    color: #ffff;
    min-height: 25rem;
    margin-top: 2rem;
}

.about-width{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    position: absolute;
    top: 40%;
    left: 15%;
}

.explan{
    margin-left: 15rem;
}

#project{
    width: 85%;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
.image{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 2.8rem;
 margin-top: 3rem;
}
.image img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    box-shadow: 10px 10px 5px #aaaaaa;
}
 video{
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

video:hover{
    opacity: 0.8;
}

.image img:hover{
    opacity: 0.8;
    
    transform: scale(0.99);
    transition: 0.5s ease;
}
.image img:focus{
    transform: scale(1.2);
}
video{
    position: relative;
}
.video i{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.video{
    position: relative;
}

#contact{
    background-color: #2a4544;
    color: white;
    
}
.contact-width{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: auto;
}
footer{
    width: 100%;
    background-color: #2a4544;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
.header .fa-bars{
    display: none;
}
.activesss{
    display: block;
}


@media only screen and (max-width: 800px) {
    html{
        font-size: 8px;
    }

.image{
    grid-template-columns: 1fr 1fr ;
}

.about-width{
    display: block;
    text-align: center;
    width: 100%;
   margin: auto;
   top: 2rem;
   left:-4rem;
}
.contact-width{
    display: block;
    font-size: 2rem;
    
}
.contact-width h1{
    padding-top: 2rem;
}
.explan{
    font-size: 1.5rem;
}
.header .fa-bars{
    display: block;
    position: absolute;
    right: 2px;
    top: 2rem;
    font-size: 3rem;
}
.header{
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
    background-color: white;
    
}
.activesss{
    display: block;
}
.navbar{
    display: block;
}
.list{
    display: none;
}
.ull {
    display: block;
    text-align: left;
}
.social-media{
    display: none;
}
.logo img{
    width: 10rem;
    
   
}


}
